LOAD CSV WITH HEADERS FROM 'file:///{{ prefix }}{{ table_name }}.csv' as row
MATCH (x:{{ table1_label }} {
{%- for pk in table_pks[:-1] -%}
{{ pk }}: row.{{ pk }},
{%- endfor -%}
{{ table_pks[-1] }}: row.{{ table_pks[-1] }}})
MATCH (y:{{ table2_label }} { {{ to_column  }}: row.{{ from_column }} })
MERGE (x)-[:{{ edge_label }}]->(y);
